{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{{ one_news.title|censor }}
{% endblock title %}

{% block content %}
    <h1>{{ one_news.title|censor }}</h1>

    <p><strong>дата добавления:</strong> {{ one_news.created_at|date:'d.m.Y' }}</p>
    <p><strong>автор:</strong> {{ one_news.author.user.username }}</p>

    <hr>

    <div>
        {{ one_news.content|censor|linebreaks }}
    </div>

    <a href="{% url 'news_list' %}" class="back-link">назад</a>
{% endblock content %}